*{
    padding:0;
    margin:0;
}



/* Style the navbar */
.navbar {
    background-color: #212529;
    overflow: hidden;
}

/* Style the navbar links */
.navbar a {
    float: left;
    display: block;
    color: rgb(242, 238, 238);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 /* Change the color of the navbar links when you hover over them */
 .navbar a:hover {
    background-color: hwb(51 1% 1%);
    color: rgb(7, 7, 7);
}

.toolbar{
    display:flex;
    align-items: center;
     justify-content:space-between; 
     position:block; 
     padding:20px 0; 
    background-color:ghostwhite;
}


.logo{
    align-items:center;
   
    padding:10px 0;
}


.heading{
    text-align:center;
}





.about{
    background-color: #2f2f29 ;
    text-align:center;
    height:100px;
    padding:15px 0;
    color:rgb(253, 203, 3);
    font-size:40px;
}


p{
    overflow:hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


  .highlights{
    border-radius:40px;
    width:50%;
   padding:10px;
    text-align:center;
    background-color: #ffc107;
    margin:auto;
  }

/*footer */
.footerContainer{
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: space-around;
    border-top: solid 5px rgb(255, 221, 0);
    display:block-inline;
    box-sizing:border-box;
   }
  
 
  .address{
    margin: 100px;
    
  }

  
  .quickLinks a{
   
    color:white ;
    float:right;
    text-decoration:none;
    
  }

  
  .quickLinks h3{
    color:#ffc107;
    font-weight:bold;
   
}


.quicklinks li{
    text-decoration: none;
}


.shortAbout h3{
    
    color:#ffc107;
    margin-top:150px;

}

.career{
    background-color: #2f2f29 ;
    text-align:center;
    height:100px;
    padding:15px 0;
    color:rgb(253, 232, 3);
    font-size:40px;
    }
