body{

}

.toolbar{
    display:flex;
    align-items: center;
     /* justify-content:space-between; 
     position:block; */
     padding:20px 0; 
    background-color:ghostwhite;
}
.logo{
    align-items:center;
    justify-content: space;
    padding:10px 0;
}

.img{
    width:88px;
    height:100%;
}

.heading{text-align:center;
}

